body {
  font-family: Verdana, Arial, sans-serif;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  margin-top: 10px;
}

h1 {
  text-align: center;
  font-family: Georgia, sans-serif;
  background-image: url(cupcake_images/logo.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  height: 230px;
}

nav ul {
  text-align: center;
}
nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline;
}
nav a {
  display: inline-block;
  padding: 8px;
}

nav ul li a:hover {
  color: pink;
}

h2 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, sans-serif;
}

h3 {
  font-family: Georgia;
}

p {
  font-family: Georgia;
}

footer {
  font-family: Georgia, "Times New Roman", Times, sans-serif;
  padding: 10px;
  text-align: center;
  color: black;
  background-color: lightpink;
  position: fixed;
  bottom: 0;
  left: 0;
  right: auto;
  width: 100%;
}

header,
nav,
main,
footer {
  display: block;
}

table {
  border: 2px solid #ff6699;
  border-spacing: 0;
}

td,
th {
  border-style: none;
  padding: 0.5em;
  font-family: Arial, sans-seirf;
}

.altrow {
  background-color: #eaeaea;
  text-align: center;
}

.orderform {
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px auto;
  padding: 20px;
  border: 0.5px solid gray;
}
.orderform ul {
  list-style-type: none;
  border: none;
}

.addressform {
  display: none;
  margin: 30px auto;
  width: 500px;
}

input,
label {
  margin: 8px 8px;
}

#inputStreet {
  width: 100%;
}

#inputCity {
  width: 50%;
}

#inputState {
  width: 15%;
}

#inputZip {
  width: 28%;
}

#inputCountry {
  width: 50%;
}

#mySubmit {
  width: 100px;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  display: block;
}

div.gallery:hover {
  border: 2px solid lightpink;
}

div.gallery img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
  }
  table {
    width: auto;
    min-width: 0;
    margin: 0;
    box-shadow: none;
  }
  h1 {
    margin: 0;
  }
  nav {
    float: none;
    width: auto;
    padding: 0.5em;
  }
  nav a {
    padding: 1em;
  }
  main {
    padding: 1em;
    margin-left: 0;
    font-size: 90%;
  }
  footer {
    margin: 0;
    padding: 8px;
  }
}

@media only all and (max-width: 768px) {
  h1 {
    height: 100%;
    font-size: 1.5em;
    padding-left: 0.3em;
    background-image: none;
  }
  nav {
    padding: 0;
  }
  nav a {
    display: block;
    padding: 0.2em;
    font-size: 1.3em;
    border-bottom: 1px;
    border-color: #330000;
  }
  nav ul {
    margin: 0;
    padding: 0;
  }
  main {
    padding-top: 0.1em;
    padding-right: 0.6em;
    padding-bottom: 0.1em;
    padding-left: 0.4em;
  }
  #homecupcake {
    display: none;
  }
  footer {
    padding: 8px;
  }
}
